/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #f9dfdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-tab {
  color: black;
  width: 200px;
  height: 100%;

  img {
    width: 100%;
  }
}

.logout-tab {
  color: black;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  margin-right: 30px;

  border: 2px solid black;
  padding: 4px;
  border-radius: 16px;
  width: 7rem;

  text-align: center;
  height: 28px;
  line-height: 24px;
}

.ce-chat-title-text {
  color: #0c4271;
}

.ce-chat-subtitle-text {
  color: #0a81ab;
}

.ce-message-bubble,
.ce-my-message-bubble {
  background-color: #0c4271 !important;
  color: white !important;
}

.ce-their-message-bubble {
  background-color: #0a81ab !important;
  color: white !important;
}

.ce-message-form {
  border: 1px solid #ddd;
  border-radius: 25px;
}
