/* Login Page */

#login-page {
}

.overlay {
  width: 100%;
  height: 100vh;
  //   background-image: linear-gradient(to bottom right, #002f4b, #110a09);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;

  video {
    filter: brightness(60%);
  }
}

.login-video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   z-index: -1;
  // opacity: 1;
}

.loginLogo {
  width: 200px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);

  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loginSvg {
  width: 100%;
  //   position: absolute;
  //   z-index: 3;
  //   top: 10px;
  //   left: 10px;
}

#login-card {
  position: absolute;
  top: calc(50vh - 220px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 460px;
  text-align: center;
  background-color: transparent;
  border-radius: 52px;
  border: 2px solid #ddd;

  h2 {
    font-size: 50px;
    color: #eececa;
  }
}

.login-button {
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.google {
  border: 2px solid #eececa;
  color: #eececa;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}
